In [241]:

from class2 import COUPLE_DF,questions, data
import pandas as pd
import ast

In [273]:

class Current_day:

    def __init__(self):
        self.df = pd.DataFrame(columns=["couple_id", "QUESTIONS", "user_id1", "user_id2", "key", "1_1", "2_1", "3_1", "4_1", "5_1","1_2", "2_2", "3_2", "4_2", "5_2"])
        self.s4et4ik = len(self.df)
    def clear(self):
        self.df = pd.DataFrame(columns=["couple_id", "QUESTIONS", "user_id1", "user_id2", "key", "1_1", "2_1", "3_1", "4_1", "5_1","1_2", "2_2", "3_2", "4_2", "5_2"])
    def us_append_couples(self, COUPLE):

        self.df[["couple_id", "user_id1", "user_id2", "key"]] = COUPLE
        # return (self)

    def us_append_question(self, couple_id, key, array):
        self.df.loc[self.df.key == key, "QUESTIONS"] = str(array)

    def us_append(self, user_id, question, mark):

        print( len( self.df.loc[ self.df.user_id1 == user_id ] ) )


    def us_append_feedback(self, user_id, question, mark):
        if len(self.df.loc[self.df.user_id1 == user_id]) > 0:
            stolb = str(question+"_1")
            self.df.loc[self.df.user_id1 == user_id, stolb] = mark

        if len(self.df.loc[self.df.user_id2 == user_id]) > 0:
            stolb = str(question+"_2")
            self.df.loc[self.df.user_id2 == user_id, stolb] = mark

            
    def print(self):
        print(self.df.head())

    def read(self):
        try:
            self.df = pd.read_csv("CURRENT_DAY.csv")[
                ["couple_id", "QUESTIONS", "user_id1", "user_id2", "key", "1_1", "2_1", "3_1", "4_1", "5_1","1_2", "2_2", "3_2", "4_2", "5_2"]]
        except:
            return ("")
    
    def extract(self):
        data = pd.DataFrame(columns=["couple_id", "key", "number"])
        Y = self.df[["1_1", "2_1", "3_1", "4_1", "5_1","1_2", "2_2", "3_2", "4_2", "5_2"]]
        Y = Y.fillna(0)
        for i in range(len(Y)):
            x1 = Y.loc[i]["1_1"] + Y.loc[i]["1_2"] 
            x2 = Y.loc[i]["2_1"] + Y.loc[i]["2_2"] 
            x3 = Y.loc[i]["3_1"] + Y.loc[i]["3_2"] 
            x4 = Y.loc[i]["4_1"] + Y.loc[i]["4_2"] 
            x5 = Y.loc[i]["5_1"] + Y.loc[i]["5_2"] 
            
            testarray = ast.literal_eval(self.df.loc[i,"QUESTIONS"])

          
            if x1 >= max([x2,x3,x4,x5]):
                number = testarray[1]
            elif x2 >= max([x1,x3,x4,x5]):
                number = testarray[2]            
            elif x3 >= max([x2,x1,x4,x5]):
                number = testarray[3]
            elif x4 >= max([x2,x1,x3,x5]):
                number = testarray[4]
            elif x5 >= max([x2,x1,x3,x4]):
                number = testarray[5]
                
            data.loc[i]= [self.df.loc[i,"couple_id"],self.df.loc[i,"key"], number]
        return(data)
    
    def write(self):
        self.df.to_csv("CURRENT_DAY.csv")

In [274]:
current = Current_day()
current.df

Empty DataFrame
Columns: [couple_id, QUESTIONS, user_id1, user_id2, key, 1_1, 2_1, 3_1, 4_1, 5_1, 1_2, 2_2, 3_2, 4_2, 5_2]
Index: []

In [275]:
current.read()
current.print()

  couple_id             QUESTIONS   user_id1   user_id2            key  1_1  \
0  couple_0  [16, 11, 25, 24, 16]  149980796  245709644  key_149980796  NaN
1  couple_0  [16, 11, 25, 24, 16]  149980796  245709644  key_149980796  NaN

   2_1  3_1  4_1  5_1  1_2  2_2  3_2  4_2  5_2
0  NaN  NaN  NaN  NaN  5.0  7.0  NaN  5.0  NaN
1  NaN  NaN  NaN  NaN  5.0  1.0  NaN  5.0  NaN

In [276]:
current.us_append_feedback(245709644, "4", 5)

In [277]:

current.write()
current.print()

  couple_id             QUESTIONS   user_id1   user_id2            key  1_1  \
0  couple_0  [16, 11, 25, 24, 16]  149980796  245709644  key_149980796  NaN
1  couple_0  [16, 11, 25, 24, 16]  149980796  245709644  key_149980796  NaN

   2_1  3_1  4_1  5_1  1_2  2_2  3_2  4_2  5_2
0  NaN  NaN  NaN  NaN  5.0  7.0  NaN  5.0  NaN
1  NaN  NaN  NaN  NaN  5.0  1.0  NaN  5.0  NaN

In [278]:
current.extract()

  couple_id            key number
0  couple_0  key_149980796     25
1  couple_0  key_149980796     11

In [291]:

import datetime

print(int(datetime.datetime.now().strftime('%M')))

36

In [292]:
35%2

1